UD4_A1/TAREFA7/UD4_T7B_EloyRodalPerez.xsd

<?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   
    <xs:annotation>
        <xs:documentation>En este esquema...</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup name="grupoNomeCompleto">
        <xs:attribute name="nome" type="xs:string" use="required" />
        <xs:attribute name="apelido1" type="xs:string" use="required" />
        <xs:attribute name="apelido2" type="xs:string" />
    </xs:attributeGroup>
    
</xs:schema>
