UD3/UD3_A1/TAREFA7/UD3_T7b_EloyRodalPerez.dtd

<!ELEMENT informe (descripcion?, seguro+, fechaInforme)>
<!ELEMENT fechaInforme EMPTY>
<!ELEMENT seguro (numero, (cliente-Personal | cliente-Empresa))>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT cliente-Personal (#PCDATA)>
<!ELEMENT cliente-Empresa (#PCDATA)>
<!ATTLIST seguro tipo (edificio | contenido) #REQUIRED>
<!ATTLIST fechaInforme
    fechaInicio CDATA #REQUIRED
    fechaFin CDATA #IMPLIED>