UD4_A1/TAREFA4/T4B/UD4_T4B_EloyRodalPerez.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT musica (cd|musico)*>
<!ELEMENT cd EMPTY>
<!ATTLIST cd
    titulo CDATA #IMPLIED
    ano CDATA #IMPLIED
    interprete CDATA #IMPLIED
>
<!ELEMENT musico (nomeArtistico|tipo|instrumento)*>
<!ATTLIST musico
    codigo CDATA #IMPLIED
>
<!ELEMENT nomeArtistico (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT instrumento (#PCDATA)>
