UD4/UD4_A1/TAREFA4/T4A/UD4_T4A_EloyRodalPerez.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT instituto (alumno|profesor)*>
<!ELEMENT alumno EMPTY>
<!ATTLIST alumno
    numExpediente CDATA #IMPLIED
    nome CDATA #IMPLIED
    apelido1 CDATA #IMPLIED
    apelido2 CDATA #IMPLIED
>
<!ELEMENT profesor EMPTY>
<!ATTLIST profesor
    NRP CDATA #IMPLIED
    nome CDATA #IMPLIED
    apelido1 CDATA #IMPLIED
    apelido2 CDATA #IMPLIED
>
